PROJET MACHINE LEARNING M1 2024/2025 DATASET ACCIDENTS

Mohammedi - Viallard

In [1]:
import pandas as pd 
import numpy as np

In [24]:
pd.set_option('display.max_columns', None)

In [6]:
dataset = pd.read_csv('train_data_accidents.csv')
dataset.describe()
dataset.shape
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 198448 entries, 0 to 198447
Data columns (total 34 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   place    198448 non-null  int64
 1   catu     198448 non-null  int64
 2   sexe     198448 non-null  int64
 3   trajet   198448 non-null  int64
 4   secu1    198448 non-null  int64
 5   secu2    198448 non-null  int64
 6   secu3    198448 non-null  int64
 7   locp     198448 non-null  int64
 8   catv     198448 non-null  int64
 9   an_nais  193851 non-null  float64
 10  mois     198448 non-null  int64
 11  occutc   1665 non-null    float64
 12  obs      198448 non-null  int64
 13  obsm     198448 non-null  int64
 14  choc     198448 non-null  int64
 15  manv     198448 non-null  int64
 16  lum      198448 non-null  int64
 17  agg      198448 non-null  int64
 18  int      198448 non-null  int64
 19  atm      198448 non-null  int64
 20  col      198448 non-null  int64
 21  catr     198448 non-null  int64
 22  circ     198448 non-null  int64
 23  vosp     198448 non-null  int64
 24  prof     198448 non-null  int64
 25  plan     198448 non-null  int64
 26  surf     198448 non-null  int64
 27  infra    198448 non-null  int64
 28  situ     198448 non-null  int64
 29  lat      198448 non-null  float64
 30  long     198448 non-null  float64
 31  hrmn     198448 non-null  object
 32  jour     198448 non-null  int64
 33  grav     198448 non-null  int64
dtypes: float64(4), int64(29), object(1)
memory usage: 51.5+ MB

Une seule variable catégorielle à recoder, 'hrmn' -> heure et minute de l'accident

In [16]:
for i in dataset.columns :
  print("Description de ", i,": \n",dataset[i].value_counts(normalize=True), "\n")

Description de  place :
 place
 1     0.779600
 2     0.115995
 10    0.039890
 3     0.019965
 4     0.018302
 9     0.009206
 7     0.008325
 5     0.004414
 8     0.003099
 6     0.001124
-1     0.000081
Name: proportion, dtype: float64

Description de  catu :
 catu
1    0.781419
2    0.178692
3    0.039890
Name: proportion, dtype: float64

Description de  sexe :
 sexe
 1    0.669803
 2    0.307083
-1    0.023114
Name: proportion, dtype: float64

Description de  trajet :
 trajet
 5    0.339510
 0    0.262174
 1    0.139719
 4    0.101185
 9    0.083735
 3    0.030638
-1    0.024787
 2    0.018252
Name: proportion, dtype: float64

Description de  secu1 :
 secu1
 1    0.634171
 2    0.177885
 8    0.099351
 0    0.058050
-1    0.020978
 3    0.007256
 9    0.000826
 6    0.000761
 4    0.000509
 5    0.000186
 7    0.000025
Name: proportion, dtype: float64

Description de  secu2 :
 secu2
-1    0.410400
 0    0.381007
 8    0.089741
 6    0.085267
 4    0.013122
 5    0.012885
 9    0.002444
 1    0.001965
 7    0.001204
 3    0.001093
 2    0.000872
Name: proportion, dtype: float64

Description de  secu3 :
 secu3
-1    0.990607
 9    0.005936
 0    0.002177
 6    0.000549
 8    0.000504
 4    0.000146
 5    0.000035
 7    0.000030
 2    0.000015
Name: proportion, dtype: float64

Description de  locp :
 locp
-1    0.535647
 0    0.425336
 3    0.011605
 2    0.008728
 4    0.005775
 1    0.005588
 5    0.003704
 9    0.001774
 6    0.001219
 8    0.000569
 7    0.000055
Name: proportion, dtype: float64

Description de  catv :
 catv
 7     0.636761
 10    0.073420
 33    0.063543
 1     0.047252
 2     0.031625
 30    0.027307
 32    0.018725
 31    0.013928
 50    0.012149
 15    0.010542
 34    0.007952
 14    0.007619
 17    0.007035
 37    0.006828
 43    0.005321
 3     0.004822
 99    0.004369
 80    0.004344
 13    0.004112
 21    0.002394
 0     0.002086
 60    0.001930
 38    0.001562
 40    0.001250
 36    0.001179
 20    0.000983
 16    0.000393
 39    0.000317
 35    0.000131
 41    0.000071
-1     0.000040
 42    0.000010
Name: proportion, dtype: float64

Description de  an_nais :
 an_nais
2000.0    0.031741
2001.0    0.030018
1999.0    0.029688
1998.0    0.027872
2002.0    0.027547
            ...
1922.0    0.000010
1919.0    0.000010
1921.0    0.000010
1912.0    0.000005
1920.0    0.000005
Name: proportion, Length: 104, dtype: float64

Description de  mois :
 mois
6     0.104511
10    0.102062
9     0.099185
7     0.096731
5     0.086360
11    0.085317
12    0.083841
8     0.083674
3     0.070724
1     0.064329
4     0.063583
2     0.059683
Name: proportion, dtype: float64

Description de  occutc :
 occutc
1.0     0.605405
2.0     0.124925
3.0     0.092492
4.0     0.052853
5.0     0.025225
6.0     0.015015
14.0    0.013213
11.0    0.010210
10.0    0.008408
17.0    0.007808
28.0    0.007808
7.0     0.007207
16.0    0.006607
8.0     0.006607
12.0    0.006607
9.0     0.004805
13.0    0.004204
0.0     0.000601
Name: proportion, dtype: float64

Description de  obs :
 obs
 0     0.886227
 1     0.022394
 3     0.012376
 4     0.011489
 13    0.011439
 2     0.009912
 8     0.008808
 6     0.007861
 14    0.006702
 12    0.005140
 15    0.004233
 9     0.004223
 16    0.002701
 7     0.002368
 5     0.001411
 11    0.001209
 10    0.000771
 17    0.000504
-1     0.000232
Name: proportion, dtype: float64

Description de  obsm :
 obsm
 2    0.770313
 0    0.136116
 1    0.074528
 9    0.016191
 4    0.001093
 6    0.000847
 5    0.000549
-1    0.000363
Name: proportion, dtype: float64

Description de  choc :
 choc
 1    0.356532
 3    0.143584
 4    0.128391
 2    0.115269
 8    0.065156
 0    0.055697
 7    0.054427
 6    0.039098
 5    0.028859
 9    0.012562
-1    0.000423
Name: proportion, dtype: float64

Description de  manv :
 manv
 1     0.401949
 2     0.141987
 15    0.077683
 0     0.056025
 13    0.039673
 17    0.032769
 26    0.032663
 23    0.031761
 9     0.029514
 19    0.025543
 16    0.022782
 21    0.014805
 14    0.014729
 5     0.011812
 11    0.011484
 12    0.010224
 3     0.009615
 10    0.006616
 18    0.005236
 20    0.004802
 24    0.004470
 4     0.003729
 22    0.003245
 25    0.002474
 7     0.002333
 6     0.001512
 8     0.000343
-1     0.000222
Name: proportion, dtype: float64

Description de  lum :
 lum
1    0.702799
5    0.134096
3    0.091742
2    0.063604
4    0.007760
Name: proportion, dtype: float64

Description de  agg :
 agg
2    0.584602
1    0.415398
Name: proportion, dtype: float64

Description de  int :
 int
1    0.638092
2    0.133970
3    0.108290
9    0.043014
6    0.035259
4    0.023240
7    0.009715
5    0.006359
8    0.002061
Name: proportion, dtype: float64

Description de  atm :
 atm
 1    0.800794
 2    0.106174
 8    0.037179
 3    0.019557
 7    0.016795
 5    0.007201
 4    0.005422
 9    0.004772
 6    0.002036
-1    0.000071
Name: proportion, dtype: float64

Description de  col :
 col
 3    0.337030
 2    0.154086
 6    0.140349
 4    0.125423
 1    0.115597
 5    0.092785
 7    0.034478
-1    0.000252
Name: proportion, dtype: float64

Description de  catr :
 catr
4    0.367522
3    0.342029
1    0.148346
2    0.078575
7    0.053913
6    0.004701
9    0.004298
5    0.000615
Name: proportion, dtype: float64

Description de  circ :
 circ
 2    0.573919
 1    0.183816
 3    0.183126
-1    0.051968
 4    0.007171
Name: proportion, dtype: float64

Description de  vosp :
 vosp
 0    0.889487
 1    0.047725
 3    0.035894
 2    0.023492
-1    0.003401
Name: proportion, dtype: float64

Description de  prof :
 prof
 1    0.816516
 2    0.151652
 3    0.018730
 4    0.012920
-1    0.000181
Name: proportion, dtype: float64

Description de  plan :
 plan
 1    0.835176
 2    0.077154
 3    0.076443
 4    0.011021
-1    0.000207
Name: proportion, dtype: float64

Description de  surf :
 surf
 1    0.810913
 2    0.175139
 7    0.004510
 9    0.003119
 5    0.002681
 8    0.001643
 3    0.001028
 4    0.000398
 6    0.000393
-1    0.000176
Name: proportion, dtype: float64

Description de  infra :
 infra
 0    0.838950
 5    0.055254
 9    0.029297
 2    0.019330
 1    0.017234
 3    0.014145
-1    0.009106
 8    0.007609
 6    0.005472
 4    0.003008
 7    0.000595
Name: proportion, dtype: float64

Description de  situ :
 situ
 1    0.905391
 3    0.027750
 5    0.020504
 8    0.018544
 6    0.011615
 4    0.011091
 2    0.004984
-1    0.000121
Name: proportion, dtype: float64

Description de  lat :
 lat
45.511461    0.001703
48.017688    0.000655
44.875488    0.000645
43.561774    0.000645
48.891884    0.000574
               ...
49.026452    0.000005
49.064063    0.000005
47.766820    0.000005
48.978864    0.000005
48.865675    0.000005
Name: proportion, Length: 52360, dtype: float64

Description de  long :
 long
 4.238458    0.001703
 7.374272    0.000655
-0.397224    0.000645
 6.950457    0.000645
 2.009022    0.000574
               ...
 2.321806    0.000005
-0.477605    0.000005
 2.339863    0.000005
-1.495000    0.000005
 4.061379    0.000005
Name: proportion, Length: 52665, dtype: float64

Description de  hrmn :
 hrmn
18:00    0.014644
17:00    0.013061
17:30    0.012341
18:30    0.012230
16:30    0.011691
           ...
03:21    0.000005
06:02    0.000005
03:03    0.000005
04:47    0.000005
05:06    0.000005
Name: proportion, Length: 1367, dtype: float64

Description de  jour :
 jour
27    0.036458
17    0.034724
19    0.034719
8     0.034508
16    0.034457
9     0.034291
23    0.033918
6     0.033812
22    0.033364
13    0.033147
28    0.033132
12    0.032926
24    0.032920
2     0.032910
26    0.032729
1     0.032694
25    0.032527
7     0.032482
3     0.032437
10    0.032265
18    0.032160
15    0.032119
11    0.031605
5     0.031499
14    0.031116
20    0.031041
21    0.030708
30    0.030361
29    0.030330
4     0.030078
31    0.018559
Name: proportion, dtype: float64

Description de  grav :
 grav
 1    0.458352
 4    0.394285
 3    0.126738
 2    0.020262
-1    0.000363
Name: proportion, dtype: float64

In [35]:
dataset[(dataset["catu"] == 3) & (dataset["catr"] == 1)].sample(n=15)

,place,catu,sexe,trajet,secu1,secu2,secu3,locp,catv,an_nais,mois,occutc,obs,obsm,choc,manv,lum,agg,int,atm,col,catr,circ,vosp,prof,plan,surf,infra,situ,lat,long,hrmn,jour,grav
175706,10,3,1,4,4,-1,-1,1,15,1988.0,3,NaN,0,1,0,1,1,1,1,1,6,1,1,0,1,2,1,0,1,46.185803,4.772165,09:15,18,3
120537,10,3,1,9,0,-1,-1,6,7,1970.0,2,NaN,0,1,1,2,3,1,1,1,6,1,3,0,1,1,1,0,1,50.333745,3.446105,05:45,13,2
182418,10,3,2,3,0,-1,-1,1,7,2009.0,8,NaN,0,1,1,12,3,1,4,2,6,1,3,0,1,1,2,0,1,-22.164564,166.387703,18:00,9,2
166090,10,3,1,0,8,-1,-1,1,7,1974.0,4,NaN,0,1,1,1,4,1,1,2,6,1,3,0,1,1,2,0,1,-22.217126,166.468229,00:10,16,2
145304,10,3,1,5,0,-1,-1,6,7,1979.0,8,NaN,0,1,2,14,1,1,1,1,6,1,3,0,1,1,1,0,2,45.677821,4.958100,15:07,14,2
31714,10,3,1,0,0,-1,-1,9,7,1999.0,11,NaN,0,1,2,1,3,1,1,1,6,1,3,0,1,1,1,0,1,43.665951,7.187608,06:53,21,2
90782,10,3,2,5,0,-1,-1,6,0,1998.0,1,NaN,0,1,0,1,3,1,1,4,6,1,-1,0,1,1,2,0,1,48.928450,2.239200,05:30,1,3
83792,10,3,1,5,0,-1,-1,6,17,1971.0,10,NaN,0,1,7,14,3,1,1,1,6,1,3,0,1,1,1,0,2,46.850888,4.827719,04:05,23,3
70419,10,3,1,0,8,8,-1,9,0,1962.0,6,NaN,0,1,0,26,3,1,1,1,6,1,3,0,1,1,1,0,1,48.908955,2.473747,00:50,24,2
181498,10,3,1,0,0,-1,-1,6,14,1975.0,12,NaN,0,1,0,0,3,1,1,1,6,1,1,0,1,1,2,0,1,48.965400,2.556000,04:04,7,2
113230,10,3,1,5,0,0,0,6,7,2001.0,1,NaN,1,1,1,1,3,1,1,2,6,1,3,0,1,1,2,0,1,48.581940,2.637600,23:34,3,1
166770,10,3,1,5,0,-1,-1,1,7,1995.0,5,NaN,0,1,2,1,3,1,9,2,6,1,3,0,1,3,2,0,1,43.513102,5.437868,02:00,16,3
50988,10,3,1,5,0,-1,-1,6,7,1955.0,6,NaN,0,1,8,2,3,1,1,1,6,1,3,0,1,1,1,0,2,49.196078,6.933897,22:15,11,2
113467,10,3,1,0,0,-1,-1,1,7,2000.0,7,NaN,0,2,3,14,3,1,1,1,2,1,-1,0,2,1,1,2,1,43.294730,5.465400,23:10,6,3
32755,10,3,1,0,0,-1,-1,6,7,1955.0,12,NaN,0,1,1,1,3,1,1,1,6,1,1,0,1,1,1,0,1,48.778586,2.205785,18:00,2,2

In [37]:
dataset[dataset["an_nais"] == dataset["an_nais"].min()]

,place,catu,sexe,trajet,secu1,secu2,secu3,locp,catv,an_nais,mois,occutc,obs,obsm,choc,manv,lum,agg,int,atm,col,catr,circ,vosp,prof,plan,surf,infra,situ,lat,long,hrmn,jour,grav
107878,2,2,2,0,1,-1,-1,-1,7,1912.0,12,NaN,0,2,4,1,5,2,1,1,2,4,2,3,1,1,1,0,1,44.84361,-0.51876,18:40,21,3